.button {
  background-color: #ffffff84;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none; /* Supprime la décoration de texte des liens */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.button:hover {
  background-color: #45a049;
  color: white;
}
