.entete {
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
    border-radius: 10px;
  }
  
  .header-home h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
  }
  