.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filters input, .filters select {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.val {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  background-color: #4682b4;
  padding: 5px;
  margin: 5px;
  font-size: 0.9rem;
}

.item {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  background-color: #87cefa;
  padding: 5px;
  margin: 5px 2rem;
  font-size: 0.9rem;
}
