.chatblock {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 25px;
}

.chat-container {
  display: flex;
  height: calc(100vh - 40px);
  border-radius: 10px;
  color: black;
}

.side {
  width: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  border-radius: 10px 0px 0px 0px;
}

.side::-webkit-scrollbar {
  width: 8px;
}

.side::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.side::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.side-header {
  display: flex;
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.stay {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.settings-icon,
.add-user-icon {
  color: black;
}

.search {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 3px 5px;
  border-radius: 20px;
  margin: 5px 7px;
  color: black;
}

.search-icon {
  color: black;
  margin-right: 5px;
}

.search input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  padding: 3px 0;
  color: black;
}

.group-members h3 {
  margin: 5px 0;
}

.group-members ul {
  list-style-type: none;
  padding: 0;
}

.group-members li {
  display: flex;
  align-items: center;
  padding: 3px 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.group-members li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.member-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.member-info {
  flex-grow: 1;
}

.member-info span {
  display: block;
}

.status {
  font-size: 0.8rem;
  color: black;
}

.chat-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  overflow-y: auto;
  border-top-right-radius: 10px;
}

.chat-area::-webkit-scrollbar {
  width: 8px;
}

.chat-area::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.chat-area::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  font-size: 1.2rem;
  position: relative;
}

.group-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-header-icons > * {
  margin-right: 20px;
  cursor: pointer;
}

.group-details {
  position: absolute;
  top: 100%;
  right: 0;
  width: 250px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
}

.paragraphe {
  font-size: 12px;
}

.group-details h4 {
  margin-top: 0;
}

.messages {
  flex-grow: 1;
  padding: 5px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 3px 5px;
  margin: 3px 0;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: block;
  white-space: pre-wrap;
  max-width: 70%;
}

.message.user {
  align-self: flex-end;
  background-color: #d1e7dd;
}

.message.other {
  align-self: flex-start;
  background-color: #f0f0f0;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
  margin: 5px;
}

.chat-input input {
  flex-grow: 1;
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #e0e0e0;
  color: black;
}

.send-button {
  background-color: #007bff;
  color: black;
  border: none;
  padding: 5px;
  margin-left: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}

.hover-icon:hover {
  color: #474646;
  background-color: rgba(105, 105, 105, 0.442);
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
}

.hover-icon {
  padding: 10px;
}

.settings-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.settings-dropdown ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.settings-dropdown ul li {
  padding: 5px 0;
  cursor: pointer;
}

.settings-dropdown ul li:hover {
  background-color: #f0f0f0;
}
