/* Styles communs */
.list-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  color: black;
  margin-bottom: 20px;
}

.list-container h4 {
  text-align: left;
  margin-bottom: 15px;
  color: black;
}

.list-container ul {
  list-style: none;
  padding: 0;
}

.list-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.list-container li:last-child {
  border-bottom: none;
}

.list-container .status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.list-container .green {
  background-color: green;
}

.list-container .red {
  background-color: red;
}

/* Styles spécifiques aux invitations */
.invitations-list .invitation-buttons {
  display: flex;
  gap: 10px;
}

.icon {
  cursor: pointer;
  font-size: 1.2em; /* Ajuste la taille des icônes selon vos préférences */
}

.icon.accept {
  color: green;
}

.icon.reject {
  color: red;
}

.icon.delete {
  color: red;
}

button {
  margin-top: 5px;
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Styles pour le bouton de gestion */
.friends-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-delete {
  background-color: transparent;
  color: #007bff;
  cursor: pointer;
  font-size: 0.9em;
}

.toggle-delete:hover {
  text-decoration: none;
}

.threat {
  margin-top: 30px;
}

.button_2 {
  text-decoration: none;
}
