/* Style pour l'image du logo */
.logo img {
  width: 40px; /* Largeur du logo */
  height: 40px; /* Hauteur du logo */
  padding-left: 5px; /* Marge intérieure à gauche */
  position: absolute; /* Position absolue */
  position: fixed; /* Position fixe */
}

/* Style pour le header */
.header {
  text-align: center; /* Centrer le texte */
  color: white; /* Couleur du texte en blanc */
}
