


.logo img {
  width: 60px; 
  height: 60px; 
  margin: 7px;
  padding: 10px;
  position: absolute;
  border-style: solid;
  border-radius: 10px;
  opacity: 70%;
  background-color: rgba(255, 255, 255, 0.626);

}
.header{
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}