.input-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 10px; /* Espace entre le label et l'input */
  margin-bottom: 15px; /* Réduire la marge */
}

.input-label {
  height: 1.8rem;
  width: 50%;
}

.input-field {
  padding: 5px; /* Ajoute un padding à l'input */
  font-size: 14px; /* Ajuste la taille de la police */
  border: 1px solid #ccc; /* Ajoute une bordure */
  border-radius: 4px; /* Ajoute un rayon de bordure */
  padding: 10px;
  background-color: white;
}
