.input-date-box {
  display: flex;
  align-items: center;
  padding: 10px;
}

.input-date-label {
  margin-right: 10px; /* Espace entre le label et l'input */
  border-radius: 50px;
}

.input-date-field {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 10.5rem;
  height: 2rem;
}
