.input-number-box {
  display: flex;
  align-items: center;
  gap: 10px; /* Espace entre le label et l'input */
}

.input-number-label {
  margin: 0; /* Supprime les marges par défaut */
  width: 15rem;
}

.input-number-field {
  padding: 5px; /* Ajoute un padding à l'input */
  font-size: 14px; /* Ajuste la taille de la police */
  border: 1px solid #ccc; /* Ajoute une bordure */
  border-radius: 20px; /* Ajoute un rayon de bordure */
  width: 6rem;
  padding: 10px;
}
