.ProfileHeader {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; /* Centre les éléments horizontalement */
    padding: 10px;
    width: 90%;
    color: black;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
  }

.ProfileHeader p{
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 12px;

}
  .profile-info {
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center;
    margin-bottom: 20px; /* Espace sous la section info */
  }
  
  .profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  
  