/* SearchBar.css */
form {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom:40px;
  }
  
  input {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    padding:5px; 
    background:white;
  }
  input::placeholder{
    color:black;
  }
  
  button {
    padding: 10px 20px;
    background-color: green;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  h3{
    text-align: center;
  }
  
  