
  header {
    align-items: center;
    padding-bottom: 20px;
    color: #ffffff;
  }
  
  header h1 {
    text-align: center;
  }
  
  .header-actions {
    align-items: center;
    margin-right: 60px;
    margin-left: 60px;
  }
  
  .header-actions input {
    padding: 5px;
    margin-right: 10px;
  }
  
  .header-actions button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .header-actions button:hover {
    background-color: #0056b3;
  }
  
  .group-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    margin-left: 60px;
    margin-right: 60px;
    color: black;
  }
  