.event {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
}

.event-time {
  font-weight: bold;
}

.event-title {
  margin-top: 5px;
}
