.wishlist-container {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  margin: 20px auto;
  width: 100%;
  color: black;
  background: rgba(255, 255, 255, 0.8)
}

.wishlist-container {
  width: 97%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

h3 {
  text-align: left;
  margin-bottom: 20px;
}

.add-button {
  margin-bottom: 20px;
  padding: 10px 10px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
}

.add-button:hover {
  border: none;
}

.wishlist-table {
  width: 100%;
  border-collapse: collapse;
}

.wishlist-table th,
.wishlist-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.wishlist-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}
